<form class="row g-3 text-center bg-img text-white bg-opacity-75" style="background-image: url('https://i.gifer.com/TVxc.gif');width: 100%;height: auto;background-size: 100% 100%;">
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="nombre" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="apellidos" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault03" class="form-label">Email</label>
        <input type="text" class="form-control" id="validationDefault03" placeholder="email" required>
      </div>
    <div class="col-md-6">
      <label for="validationDefault04" class="form-label">url</label>
      <input type="text" class="form-control" id="validationDefault04" placeholder="url" required>
    </div>
    <div class="col-md-6">
        <label for="validationDefault05" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="validationDefault05" placeholder="contraseña" required>
      </div>
      <div class="col-md-6">
        <label for="validationDefault06" class="form-label">Repita la contraseña</label>
        <input type="text" class="form-control" id="validationDefault06" placeholder="contraseña" required>
      </div>
    <div class="col-12">
      <div class="col-15form-check ">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Acepto terminos y condiciones.
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Registrarse</button>
    </div>
  </form>