.bg {
    /* The image used */
    background-image: url("http://media.tumblr.com/tumblr_m8s2c6IMdu1ruzfd1.gif");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }