<nav class="navbar navbar-dark bg-dark bg-gradient text-white">
    <h1>Mybooks</h1>

<div class="d-flex flex-row-reverse bd-highlight">
<button type="button" class="btn btn-success" routerLink="HomeComponent" >Home</button>
<button type="button" class="btn btn-success" routerLink="formulario-registro" >Registro</button>
<button type="button" class="btn btn-success" routerLink="PaginaPerfilComponent" >Perfil</button>
<button type="button" class="btn btn-success" routerLink="LibrosComponent" >Libros</button>
</div>
  </nav>




